@use "global" as *;

.page-contact__form{
    margin-top: rem(26);
   
}

.page-contact__inner.inner{
    @include mq(md){
      max-width: rem(750);
    }
}

.page-contact__inner{
  position: relative;
}

.page-contact__inner::after{
   
  content: "";
  position: absolute;
  background-image: url(../images/common/sub-campaign-sakana.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  top: -1.8%;
  left: calc(52% - min(48vw,40rem));
 
  height: rem(55);
  width: rem(120);
 z-index: 2;
 @include mq("md"){
  height: rem(138);
  width: rem(301);
  top: -6.5%;
 }
}