@use "global" as *;


.blog{
    text-align: center;
    position: relative;
    @include mq("md"){
        padding-top: rem(100);
    }
}

.blog__card{
    width: 100%;
    @include mq("md"){
    // width: calc((100% - rem(80)) / 3);
    }
}


.blog::before{
    @include mq("md"){
    content: "";
    position: absolute;
    
    background-image: url(../images/common/blog-pc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
 
    top: 0;
    left: 0;
    z-index: -1;
    height: 60%;
    width: 100%;
    }
}

.blog__inner{
    position: relative;
}


// 同階層のクラスでパディングを上書き
.blog__inner.inner{

    padding-left: rem(21);
    padding-right: rem(21);
    @include mq("md"){
        padding-left: rem(25);
        padding-right: rem(25);
    }
}

.blog__inner::after{
    @include mq("md"){
    content: "";
    position: absolute;
    
    background-image: url(../images/common/sakana1.png);
    
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
 
    top: -11%;
    
    left: max(55.5% - 50.5vw, -3.4375rem);
    z-index: 1;
    height: rem(201);
    width: rem(437);
    }
}






.blog__cards{
   
   
    margin-top: rem(24);
   
    display: grid;
    row-gap: rem(40);
    justify-content: center;
    @include mq("md"){
       
        margin-top: rem(76);
        row-gap: rem(80);
        column-gap:rem(40) ;
        grid-template-columns: repeat(3,1fr);
        }
}






// .blog__card:not(:first-child) {
//     margin-top: rem(40);
//     @include mq("md"){
//         margin-top: rem(0);
        
    
//         }
// }

// .blog__card:nth-child(n+4){
//     @include mq("md"){
//         margin-top: rem(40);
        
//         }
// }

.blog__btn{
    margin-top: rem(40);
    // display: inline-block;
    @include mq("md"){
        margin-top: rem(80);
        
    
        }
}

.blog__card-pc{
    display: none;
    @include mq("md"){
        display: block;
    }
}