@use "global" as *;

.button{
    width:rem(206) ;
    
    display: inline-block;
    line-height: 1;
}

.button__inner{
    display: inline-block;
    background-color: rgba(64, 143, 149, 1);
    position: relative;
    width: rem(202);
    padding: rem(16) rem(40);
   z-index: 3;
    display: flex;
    color: #FFF;
    border: 1px solid rgba(64, 143, 149, 1);
}

.button__inner:hover{
    color: rgba(64, 143, 149, 1);
}

.button__inner::before{
    content: "";
    border: 1px solid rgba(64, 143, 149, 1);
    position: absolute;
    width: 100%;
    // height: 100%;
    bottom: rem(-4);
    left: rem(5);
    top: rem(4);
    z-index: -1;
}






.button__inner::after{
    content: "";
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.button__inner:hover::after{
    transform: scale(1, 1);
}

.button__inner span{
    padding-right: rem(8);

    font-family: Gotu;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    white-space: nowrap;
   
}

.button__inner span::first-letter{

    text-transform: uppercase;
    
}

.button__arrow{
    position: relative;
}


.button__arrow::before{
    background-color: #FFFFFF;
    border-radius: 10px;
    content: "";
    display: block;
    height: 0.0625rem;
    position: absolute;
    right: 3.0625rem;
    top: 30%;
    left: 138%;
    transform: rotate(45deg);
    transition: 0.3s;
    width: 0.625rem;
}


.button__arrow::after{
   


background-color: #FFFFFF;
border-radius: 10px;
content: "";
display: block;
height: 0.0625rem;
position: absolute;
right: 3.125rem;
top: 48%;
left: 100%;
transform: translateY(-50%);
transition: 0.3s;
width: 2.5rem;

}

.button:hover .button__arrow::after{
   background-color: rgba(64, 143, 149, 1);
   border-radius: 10px;
   content: "";
   display: block;
   height: 0.0625rem;
   position: absolute;
   right: 3.125rem;
   top: 48%;
   left: 100%;
   transform: translateY(-50%);
   transition: 0.3s;
   width: 2.5rem;
    
}

.button:hover .button__arrow::before{
    background-color: rgba(64, 143, 149, 1);
    
    border-radius: 10px;
    content: "";
    display: block;
    height: 0.0625rem;
    position: absolute;
    right: 3.0625rem;
    top: 30%;
    left: 138%;
    transform: rotate(45deg);
    transition: 0.3s;
    width: 0.625rem;
 }





