@use "global" as *;

.campaign{
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 8000;
}

.campaign__tittle{
    margin-top: rem(40);
    display: flex;
    position: relative;
    @include mq("md"){
        margin-top: rem(121);
    }
    
}


.campaign__arrows{
    display: none;
    
    @include mq("md"){
       display: block;
       display: flex;
       position: absolute;
       justify-content: space-between;
       gap: rem(80);
       margin-left: rem(100);
        top: 15.5%;
        right: 12.5%;
     
    }
}

.campaign__leftarrow img{
    width: rem(80);
    height: rem(80);
}

.campaign__leftarrow img:hover{
opacity: 0.7;
cursor: pointer;
}


.campaign__rightarrow img{
    width: rem(80);
    height: rem(80);
}

.campaign__rightarrow img:hover{
    opacity: 0.7;
    cursor: pointer;
    }



.campaign__inner{
}


.campaign__cards{
    padding-top: rem(24);
    
    @include mq("md"){
    margin-top: rem(10);
    }
    
}





.campaign__slide{
    padding-bottom: rem(4);
    @include mq("md"){
        margin-right: calc(50% - 50vw);
        margin-top: rem(4);
        padding-bottom: rem(4);
    }
}




.campain__button{
    margin-top: rem(35);
 

   @include mq("md"){
    font-size: rem(80);
    margin-top: rem(70);
}

}

.campaign__card{

    @include mq("md"){
        
     
        
    }
}



