@use "global" as *;

.faq{

}

.faq__items{
    display: grid;
    gap: rem(40);
    @include mq("md"){
        margin: auto;
        gap: rem(40);
        max-width: rem(700);
    }
}


.faq__inner{
    position: relative;
   
}



