@use "global" as *;

.gallery{
    text-align: center;
}

.gallery__inner{
    position: relative;
}


.gallery__container{
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}


.gallery__items{
    display: flex;
    flex-direction: column;
    gap: rem(8);



    @include mq("md"){
    display: grid;
    grid-template-columns: 1fr 0.1626fr 1fr ;
    grid-template-rows: repeat(4,1fr);
    gap: rem(8);

    grid-template-areas: 
    "areaA areaB areaB"
    "areaA areaC areaC"
    "areaD areaD areaF"
    "areaE areaE areaF";
    }
}

.gallery__items img{
    object-fit: cover;
    cursor: pointer;
}

.gallery__itemA{
    grid-area: areaA;
    cursor: pointer;
    
}

.gallery__itemA img{
    aspect-ratio: 492/746;
}

.gallery__itemB{
    grid-area: areaB;
}


.gallery__itemB img{
    aspect-ratio: 580/369;
}

.gallery__itemC{
    grid-area: areaC;
}
.gallery__itemC img{
    aspect-ratio: 580/369;
}

.gallery__itemD{
    grid-area: areaD;
 
}

.gallery__itemD img{
    aspect-ratio: 580/369;
}

.gallery__itemE{
    grid-area: areaE;

}

.gallery__itemE img{
    aspect-ratio: 580/369;
}

.gallery__itemF{
    grid-area: areaF;

}

.gallery__itemF img{
    aspect-ratio: 492/746;
}

.gallery__modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(32, 32, 32, 0.80);
    z-index: 9000;
    transition: opacity 0.5s ease;
}

.gallery__modal.is-open{
    display: block;
}

.gallery__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
