@use "global" as *;

.gallery{
    text-align: center;
}

.gallery__inner{
    position: relative;
}


.gallery__container{
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}


.gallery__items{

    @include mq("md"){
    display: flex;
    gap: rem(8);
    }
}

.gallery__items:nth-of-type(2){
    margin-top: rem(8);
}

.gallery__itemA{
    aspect-ratio: 492/746;
    object-fit: cover;
    cursor: pointer;
}

.gallery__itemA:nth-of-type(2){
    margin-top: rem(8);
    @include mq("md"){
        margin-top:0;
    }
}

.gallery__itemB{
    aspect-ratio: 580/369;
    object-fit: cover;
    cursor: pointer;
}

.gallery__itemB:first-child{
    margin-top: rem(8);
    @include mq("md"){
        margin-top:0;
    }
}

.gallery__itemB:nth-of-type(2){
    margin-top: rem(8);
}

.gallery__modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(32, 32, 32, 0.80);
    z-index: 9000;
    transition: opacity 0.5s ease;
}

.gallery__modal.is-open{
    display: block;
}

.gallery__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
