@use "global" as *;


.itemsB__item:not(:first-child){
    margin-top:  rem(18);
    white-space:nowrap ;
}

.itemsB__item:nth-child(2){
    padding-top: rem(16);
} 

.itemsB__item:nth-child(3){
    padding-left: rem(24);
} 

.itemsB__item:nth-child(4){
    padding-left: rem(24);
} 

.itemsB__item:last-child{
    padding-left: rem(24);
} 

.itemsB__item a{
    color: var(--White, #FFF);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 400;
line-height: rem(18); 
}

.itemsB__item a:hover{
    opacity: 0.7;

}

.itemsB__item:first-child a{
    font-weight: 700;
}



.itemsB__item:nth-child(2) a{
    font-weight: 700;
}

.itemsB__img{
    content: url(../images/common/hitode.jpg);
    height: 1.125rem;
    vertical-align: middle;
    width: 1.125rem;
   
    
}