@use "global" as *;


.itemsA__item{
    text-indent: -1.5em;
}

.itemsA__item:not(:first-child){
    margin-top:  rem(18);
    // デザインカンプではrem24
}

.itemsA__item:nth-child(2){
    padding-left: rem(24);
} 

.itemsA__item:nth-child(3){
    padding-left: rem(24);
    white-space: nowrap;
} 

.itemsA__item:nth-child(4){
    padding-left: rem(24);
} 

.itemsA__item:last-child{
    padding-top: rem(16);
  
} 

.itemsA__item a{
    color: var(--White, #FFF);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 400;
line-height: rem(18); 
transition: opacity 0.3s;

}

.itemsA__item a:hover{
    opacity: 0.7;

}

.itemsA__item:first-child a{
    font-weight: 700;
}



.itemsA__item:last-child a{
    font-weight: 700;
}



.itemsA__img{
    content: url(../images/common/hitode.jpg);
    height: 1.125rem;
    vertical-align: middle;
    width: 1.125rem;
   
    
}