@use "global" as *;

.itemsC__item:not(:first-child){
    // margin-top:  rem(40);
}

.itemsC__item{
    text-indent: -1.5em;
    padding-left: rem(24);
    line-height: 1.125;
}


.itemsC__item:not(:first-child){
    margin-top:  rem(38);
    // デザインカンプではrem24
}

.itemsC__item a{
    color: var(--White, #FFF);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 400;
line-height: rem(18); 
}

.itemsC__item a:hover{
    opacity: 0.7;

}

.itemsC__item:first-child a{
    font-weight: 700;
   
}

.itemsC__item:nth-child(2) a{
    font-weight: 700;
}









.itemsC__pc{
   
    display: inline-block;
   
    @include mq("md"){
    display: none;
    }
}

.itemsC__img{
    content: url(../images/common/hitode.jpg);
    height: 1.125rem;
    vertical-align: middle;
    width: 1.125rem;
   
    
}

.itemsC__br{
    @include mq("md"){
      display: none;
        
    }
}