@use "global" as *;

.mv{
    height: 100vh;
    position: relative;
}

.mv img{
    height: 100vh;
    object-fit: cover;
    position: absolute;
   
}

.mv__inner{
    position: absolute;
    transform: translate(-46%, -46%);
    top: 50%;
    left: 50%;
    height: rem(93);
    z-index: 2;

    @include mq("md"){
        transform: translate(-46%, -66%);
    }
}

.mv__tittle{
    
    color: #FFF;
font-family: Lato;
font-size: rem(40);
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: rem(21.6);
padding-bottom: rem(5);

@include mq("md"){
    font-size: rem(80);
    letter-spacing: rem(43.2);
    padding-bottom: rem(0);
}
}

.mv__subtittle{

    color: #FFF;
font-family: Gotu;
font-size: rem(20);
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

padding-right: rem(23);

@include mq("md"){
    padding-right: rem(43);
   
}
}

