
@use "global" as *;

.price{
    
   
    background-color: rgba(221, 240, 241, 1);
    text-align: center;
    @include mq("md"){
        padding-bottom: rem(100);
    }
}

.price__tittle{

margin-top: rem(80);
@include mq("md"){
    padding-top: rem(22);
}

}

.price__inner{
    margin-top: rem(24);
    @include mq("md"){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-top: rem(35);
    }
}


.price__subinner{
    padding-bottom: rem(83);
    

    @include mq("md"){
        position: relative;
        padding-bottom: rem(0);
       
        // display: flex;
        gap: rem(93);
        // flex-direction: row-reverse;
        justify-content: space-between;
    }

}

.price__subinner::before{
    @include mq("md"){
    content: "";
    position: absolute;
    
    background-image: url(../images/common/sakana3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // display: inline-block;
    left: calc(50% - min(48vw,38.75rem));
    bottom: -4%;

  
    
    z-index: 1000;
    width: rem(437);
    height: rem(201);
    }
}

.price__topic{
    margin-top: rem(40);

}

.price__topic{
    // margin-top: rem(40);
    padding-bottom: rem(3);
    text-align: left;
    color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 700;
line-height: 1.5; /* 150% */
border-bottom: rem(1) solid var(--greenaccent, #408F95);
@include mq("md"){
 
  margin-top: rem(0);

    }

}

.price__wrap{
    color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(14);
font-style: normal;
font-weight: 400;
line-height: 1.71429; /* 171.429% */
margin-top: rem(8);
    display: flex;
    justify-content: space-between;

    @include mq("md"){
        font-size: rem(16);
        line-height: 1.5; 
    
        }
}



.price__value{
    letter-spacing: 0.001em;
    text-align: right;
}

.price__button{
    margin-top: rem(40);
    @include mq("md"){
       
       margin-top: rem(80);
     }

}

.price__container{
    margin-top: rem(40);
    @include mq("md"){
       width: 45.5555%;
       margin-top: rem(0);
    }

}




.price__img{
    
    @include mq("md"){
    aspect-ratio: 492/746;
    object-fit: cover;
    width: 45.5%;
    }
}

.price__textes:not(:first-child){
    @include mq("md"){

        margin-top: rem(40);
    }
}

.price__text{
    @include mq("md"){
        text-align: left;
        padding-right: rem(35);
    }  
}