@use "global" as *;


.sp-nav{
    // display: flex;
    position: absolute;
    top: rem(80);
    left: 0;
    right: 0;
    width: 100%; 
    // innerに対して
    height: 100vh;
    background-color: rgba(64, 143, 149, 1);
    justify-content: center;
    align-items: center;
   z-index: 900;
    display: none;
    overflow-y: scroll;
    @include mq("md"){  
        padding-left: rem(0);
            
    }
}

.sp-nav.is-active{
    display: block;
    
}

.sp-nav__wrapper{
    display: flex;
    justify-content: center;
    gap: rem(28);
    padding-bottom: rem(100);
}


.sp-nav__inner{
    margin-top: rem(-5);
    
    
}

.sp-nav__items{

    @include mq("md"){    
    }
}

.sp-nav__item{
    
}


.sp-nav__reg{
    margin-top: rem(15);
    text-indent: -1.5em;
    font-weight: 700;
}

.sp-nav a{
    display: block;
    color: var(--White, #FFF);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
line-height: rem(18); 
transition: opacity 0.3s;
padding-top: rem(12);
padding-bottom: rem(12);
}






.sp-nav__item:nth-child(3){
    white-space: nowrap;
} 





.sp-nav__item a:hover{
    opacity: 0.7;

}





.sp-nav__img{
    content: url(../images/common/hitode.jpg);
    height: 1.125rem;
   
    width: 1.125rem;
   
    
}


.sp-nav__reg{
    margin-top: rem(15);
    text-indent: -1.5em;
    font-weight: 700;
}

// .sp-nav__inner:first-child{
//     padding-left: rem(14);
// }






// .sp-nav__inner .sp-nav__items:first-child{
//     @include mq("md"){
//         margin-left: rem(100);
//     }
// }

.sp-nav__inner .sp-nav__items:last-child{
    
    margin-top: rem(15);
   
}




.sp-nav__br{
    @include mq("md"){
      display: none;
        
    }
}



