@use "global" as *;

.two-colums{

}

.two-colums__cards{
    display: flex;
    flex-direction: column;
    gap: rem(40);
    margin-top: rem(32);


    @include mq("md"){
        display: grid;
    row-gap: rem(80);
    column-gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem(98);

    }
   
}

.two-colums__cards1{
    display: flex;
    flex-direction: column;
    gap: rem(40);
    margin-top: rem(32);


    @include mq("md"){
        
    
    }
   
}


.two-colums__inner{
    margin-top: rem(52);
    position: relative;
    @include mq("md"){
        display: flex;
        gap: rem(80);
    }
}

.two-colums__inner.inner{
    padding-left: rem(21);
    padding-right: rem(21);

}

.two-colums__inner::after{
   
    content: "";
    position: absolute;
    background-image: url(../images/common/sub-campaign-sakana.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    top: -0.45%;
    left: calc(52% - min(48vw,40rem));
   
    height: rem(55);
    width: rem(120);
   z-index: 1;
   @include mq("md"){
    height: rem(138);
    width: rem(301);
    top: 1%;
   }
}

.two-colums__pagenation{
    margin-top: rem(80);

}



.two-colums__items{
    display: flex;
    flex-direction: column;
    gap: rem(24);
    
}

.two-colums__item{
    padding: rem(16);

    background: var(--White, #FFF);
    box-shadow: rem(2) rem(2) rem(10) 0px rgba(0, 0, 0, 0.25);

}

.two-colums__item:first-child{
margin-top: rem(30);
}

.two-colums__side{
    padding-left: rem(19);
    padding-right: rem(19);
    margin-top:rem(89) ;    
    @include mq("md"){
        width: 27.05%;
        margin-top:rem(105);  
        padding-left: 0;
        padding-right: 0;  
    }

}

.two-colums__img{
    width: 47.1%;

    aspect-ratio: 121/90;
}

.two-colums__img img{
    max-width: 100%;
    object-fit: cover;
}

.two-colums__textes{
    width: 48%;
}

.two-colums__text{

    color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 500;
line-height: 1;
}


.two-colums__wrap{
    display: flex;
    gap: rem(16);
    height: auto;
    

}

.two-colums__date{
color: var(--green, #0D2936);
font-family: Gotu;
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
vertical-align: top;
}

.two-colums__kutikomi{
    margin-top: rem(88);
    text-align: center;

}

.two-colums__kutikomi-img{
    margin-top: rem(28);
}

.two-colums__head{
    text-align: left;
}
.two-colums__year:nth-of-type(1){
    margin-top: rem(38);
}


.two-colums__age{
    color: #0D2936;
font-family: "Noto Sans JP";
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
margin-top: rem(16);
text-align: left;
}

.two-colums__tittle{
    color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(24);
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: rem(8);
text-align: left;
    
}

.two-colums__btn{
margin-top: rem(43);

}

.two-colums__campaign{
    margin-top: rem(90);
    text-align: center;
    @include mq("md"){
        margin-top: rem(94);
    }

}

.two-colums__archive{
    margin-top: rem(90);
}

.two-colums__year{
    color: var(--greenaccent, #408F95);
font-family: "Noto Sans JP";
font-size: rem(24);
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
padding-left: rem(32);
// margin-top: rem(120);
}

.two-colums__year::before{
  
   
    background-image: url(../images/common/sankaku1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.5rem;
    left: 0.3%;
    position: absolute;
    top: 7%;
    transition: transform 0.3s;
    width: 1.5rem;
}

.two-colums__year.is-active::before{
    background-image: url(../images/common/sankaku2.png);
}


.two-colums__year.is-active li{
    display: none;
}


.two-colums__month{
    position: relative;
    color: var(--greenaccent, #408F95);
font-family: "Noto Sans JP";
font-size: rem(24);
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: rem(24);
margin-top: rem(6);
}

.two-colums__month.is-close{
    display: none;
}


.two-colums__month::after{
    background-image: url(../images/common/sankaku2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.5rem;
    left: -1%;
    position: absolute;
    top: 7%;
    transition: transform 0.3s;
    width: 1.5rem;
}

.two-colums__main{
    @include mq("md"){
   

        width: 64.89%;
    }
}