@use "global" as *;

.voice{
    text-align: center;
    position: relative;
}

.voice::before{
    @include mq("md"){
    content: "";
    position: absolute;
    background-image: url(../images/common/tatu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    bottom: -11%;
    right: 12.5%;
    z-index: 9999;
    height: rem(162);
    width: rem(71);
    }
}

.voice::after{
    @include mq("md"){
    content: "";
    position: absolute;
    background-image: url(../images/common/sakana2.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    top: -19%;
    left: rem(100);
    z-index: 1;
    height: rem(138);
    width: rem(301);
    }

}

.voice__tittle{

}

.voice__inner{
   display: inline-block;
    max-width: rem(600);
    @include mq("md"){         
    }
}


.voice__cards{
  
    width: 100%;

    @include mq("md"){
        margin-top: rem(38);
       
        gap: rem(40);
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        }
}

.voice__card{
    margin-top: rem(40);
    padding: rem(15) rem(16) rem(24) rem(16);
    @include mq("md"){
        padding: rem(15) rem(24) rem(24) rem(24);
        margin-top: rem(-11);
        width: calc((100% - rem(40)) / 2);
    }
}


.voice__button{
    margin-top: rem(40);

    @include mq("md"){
        margin-top: rem(80);
      }
}

